.YeOldTome {
    transform-style: preserve-3d;
    position: relative;
    height: 600px;
    cursor: pointer;
    backface-visibility: visible;
}

.YeOldTome-front,
.YeOldTome-back,
.YeOldTome-page1,
.YeOldTome-page2,
.YeOldTome-page3,
.YeOldTome-page4,
.YeOldTome-page5,
.YeOldTome-page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform .75s ease-in-out, box-shadow .52s ease-in-out;
}

.YeOldTome-front,
.YeOldTome-back {
    background: navy;
}

.YeOldTome-front,
.YeOldTome-page1,
.YeOldTome-page3,
.YeOldTome-page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.YeOldTome-back,
.YeOldTome-page2,
.YeOldTome-page4,
.YeOldTome-page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.YeOldTome-page1,
.YeOldTome-page2  {
    background: #efefef;
}

.YeOldTome-page3,
.YeOldTome-page4 {
    background: #f5f5f5;
}

.YeOldTome-page5 {
    background: #fafafa;
}

.YeOldTome-page6 {
    background: #fdfdfd;
}

.YeOldTome:hover .YeOldTome-front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.YeOldTome:hover .YeOldTome-page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.YeOldTome:hover .YeOldTome-page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.YeOldTome:hover .YeOldTome-page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.YeOldTome:hover .YeOldTome-page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.YeOldTome:hover .YeOldTome-page5 {
    transform: rotateY(-130deg) scale(1.1); /*transform: rotateY(-140deg) scale(1.1);*/
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.YeOldTome:hover .YeOldTome-page6 {
    transform: rotateY(-50deg) scale(1.1); /*transform: rotateY(-45deg) scale(1.1);*/
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.YeOldTome:hover .YeOldTome-back {
    transform: rotateY(-20deg) scale(1.1);
}
